* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.py-4-5 {
    padding: 2.5rem 0 !important;
}

.navbar {
    background-color: #1E202B !important;
}

#navbarSupportedContent .navbar-nav .nav-link {
    font-size: 14px;
    color: #fff !important;
    padding: 4px 25px !important;
    border-radius: 30px;

    border: 2px solid transparent !important;

}

.logo-type {
    font-size: 11px !important;
    color: RGB(191, 193, 200) !important;
}

.logo-type h1 {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

#navbarSupportedContent .navbar-nav .nav-link.active,
#navbarSupportedContent .navbar-nav .nav-link.show,
#navbarSupportedContent .navbar-nav .nav-link:hover {
    color: RGB(0, 154, 216) !important;
    padding: 4px 25px !important;
    border-radius: 30px;
    border: 2px solid RGB(0, 154, 216) !important;
}












/* home */

.home {
    position: relative;
    background-image: url('./Assets/Images/imgi_7_banner.png');
    background-size: cover;
    min-height: 350px;
    /* background-color: #1E202B; */
}

 input[type="text"] {
    background-color: RGB(30, 32, 43) !important;
    border: none !important;
}


 input[type="button"] {
    position: absolute;
    right: 7px;
    top: 6px;
    width: 100px;
    height: 43px;
    border: none;
}
 input[type="submit"] {
    position: absolute;
    z-index: 900 !important;
    right: 7px;
    top: 6px;
    width: 100px;
    height: 43px;
    border: none;
}

 input[type="text"] :focus {
    border: none !important;
}

.forecast-table {
    background-color: #1E202B ;
    color: #fff !important;
        height: 275px;

}
.forecast-container{
    height: 425px;
    position: relative;
    top: -200px;
}
.bg-darkblue{
    background-color: #323544 !important;
}
.bg-darkblue2{
    background-color: #262936 !important;
}

.bg-darkblue3{
    background-color: #292c38 !important;
}
.bg-darkblue4{
    background-color: #222530 !important;
}


.num{
    font-size: 90px;
    line-height: 135px;
    font-weight: 700;
    color: #fff;
}


.forecast-details{
    width: 230px;
}
.degree{
    font-size: 24px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}

.custom{
    color: RGB(0, 154, 216);
}



/* footer */

footer {
    background-color: #262936 !important;
    height: 200px !important;
}

.w-icon{
    width: 40px;
    height: 40px;
    background-color: #1E202B;
}